.container {
  >form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 250px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 1px #ddd;
  }

  .form input[type=text] {
    padding: 10px;
    margin-top: 20px;
    width: 80%;
  }

  form input[type=submit] {
    padding: 10px;
    margin-top: 20px;
    width: 100px;
    background-color: #015f01;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}